# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.tlog
*.log
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.suo

/combase.pdb
/D3DCompiler_47.pdb
/OneCoreUAPCommonProxyStub.pdb

/Client/Bin/*
# preserve shader folder
!/Client/Bin/ShaderFiles/
!/Client/Bin/Resources/
/Client/Bin/Resources/Anim/Kena/Kena_Body.mdat
/Client/Bin/Resources/Anim/Kena/Kena_Body.model
!/Client/Bin/Data/
!Client/Bin/assimp-vc140-mt.dll
!Client/Bin/assimp-vc140-mtd.dll
!/Client/Bin/fmod.dll
!/Client/Bin/fmodL.dll
/Client/Default/imgui.ini

Engine/Bin/Engine.ilk
Engine/Bin/Engine.pdb
Engine/Bin/vc140.idb
Engine/Bin/vc140.pdb
Engine/Bin/vc142.idb
Engine/Bin/vc142.pdb

Framework.VC.db

/Reference/*
!/Reference/Librarys/.Librarys
!/Reference/Headers/.Headers
.vs/Framework/v16/Browse.VC.db-shm
Engine/Bin/Engine.dll.recipe
Engine/Bin/Engine.exp
Engine/Bin/Engine.lib
Engine/Bin/Engine.vcxproj.FileListAbsolute.txt
Engine/Bin/Shader_Deferred.cso
Engine/Bin/Shader_FXAA.cso
Engine/Bin/Shader_Navigation.cso
Engine/Bin/Shader_PostProcessVFX.cso
Engine/Bin/Shader_SSAO.cso
Engine/Bin/vc142.idb
Engine/Bin/vc142.pdb
Engine/Bin/Engine.dll.recipe

.vs/
.idea/

Engine/Bin/Engine.exp
Engine/Bin/vc142.pdb
Engine/Bin/vc142.idb
Engine/Bin/Engine.lib
